.centerImg {
  background-image: url("../Assets/Restaurant.jfif");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;  
  font-family: Arial;
}
  
.text-block {
  font-size: 20px;
  position: absolute;
  color: bisque;
  top: 50%;
  text-align: center;
}

.text-block button {
  position: absolute;
  border: rgb(0, 0, 0);
  border-style: double;
  right: 0px;
  width: 170px;
  padding: 10px;
  vertical-align: right;
}
  
h1 {
  position:relative;
  vertical-align: middle;
  text-align: center;
}

.menu-bar{
  height: 50px;
  width: 100%;
  background-color: bisque;
}

.menu-bar a{
  text-decoration: none;
}

.menu {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;  
}

.menu h2 {
  color: rgb(206, 0, 206);
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.menu-bar-list {
  list-style-type: none;
  text-align: left;
  margin-left: 3%;
}

.menu-bar-list li {
  padding-top: 15px;
  display: inline-block;
  font-size: 20px;
}

.item {
  box-sizing: border-box;
}


.leftcolumn {
  width: 48%;
  height: 400px;
  float: left;
}

.leftcolumn img {
  width: 95%;
  height: 95%;
  border: rgb(252, 217, 223);
  border-width: 7px;
  border-style: solid;
}

.rightcolumn {
  width: 48%;
  height: 400px;
  float: right;
}

.rightcolumn img {
  width: 95%;
  height: 95%;
  border: rgb(187, 247, 247);
  border-width: 7px;
  border-style: solid;
}


.content {
  width: 1760px;
  margin: auto;
  cursor:crosshair;
}